{% extends 'home/base.html' %}

{% block title %}Register{% endblock %}
{% block body %}

{% load staticfiles %}

<link rel="stylesheet" href="{% static 'home/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'home/business-casual.css' %}" />

<div class="container">
    <div class="row">
      <div class="box">
   <div class="col-lg-12 text-center">

                    <h3>Create a new Account</h3>
                    {% if error_message %}
                        <p><strong>{{error_message}}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'home/form_template.html' %}
                        <div class="form-group">
                            <div class="col-12">
                              <button type="submit" >Submit</button>
                            </div>

                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>




{% endblock %}