body {
    background: white url("images/gray_background.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Open Sans';
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}